

.header {
    border-bottom: 1px solid black;

    &__banner {
        background-image: url("../img/image-banner.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 20rem;
        width: 100%;
    }
    &__contenido{
        display: flex;
        margin-top: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    &__yuki {
        display: flex;
        text-align: left;
        margin-bottom: 1rem;
        &__img{
            width: 10rem;
            height: 10rem;
            border-radius: 100%;
            @include respond-to("md"){
              margin-left: 5rem;
            }
        }
        &--titulo {
            display: block;
            font-size: x-large;
        }
        &--texto {
            display: block;
            font-size: large;
            padding: 0;

        }
        &__datos{
                margin-left: 1rem;
        }

    }
    &__buttons{
        display: none;
        border: none;
        margin-right: 3rem;
        @include respond-to("md"){
            &{
                display: block;
            }
        }
        &--mensaje{
            background-color: rgb(50, 245, 219);
            padding: 1rem;
            border: none;
            color: white;
        }
        &--seguir{
            background-color: rgb(245, 33, 18);
            padding: 1rem;
            border: none;
            color: white;
        }
    }
}